html, body {
  display: flex;
  height: 100%;
  padding: 0px;
  margin: 0px;
  width: 100%;

}

.container {
  width: 100vw;
}
.nav {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 100;
  display: flex;
  height: 100vh;

}
#map {
  
  height: 100vh;
  width: 100vw;
}
#filter-input {
  border: none;
  border-bottom: 1px solid grey;
}
.placesList {
overflow-y: auto;
height: 60vh;
margin: 0px;
padding: 0px;


}
.placesList > li {
  list-style: none;
  padding-bottom: 1rem;
  margin-right: 2rem;
}
.placesList > li:hover {
  cursor: pointer;
  color: red;
}
.title {
  display: flex;
  padding: 0px;
  width: 100%;
  color: red;
}

.inner-nav {
  margin: 0px;
  padding: 0px;
  padding: 3rem;
}
.submit-button {
  background-color: rgb(163, 87, 87);
  border-style: none;
  padding: 0.5rem;
}
.filter {
  background-image: url("https://image.flaticon.com/icons/svg/25/25337.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-color: rgba(106, 142, 35, 0);
  border-style: none;
  padding: 0px;
  margin: 0px;
}
.filter > option {

}
.innerform {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 360px) {
  /* For mobile phones: */
  .inner-nav {
    padding: 0.5rem;
    font-size: 10px;
    width: 20%;

  }
  input {
    width: 3rem;
  }
  button {
    padding: 1px;
    font-size: 10px;
  }
  .title {
    font-size: 8px;
    flex-wrap: wrap;
  }
  img {
    width: 25px;
    height: 25px;
  }

}